@import url("./components/header/Header.scss");
@import url("./components/movielist/MovieList.scss");
@import url("./components/moviecard/MovieCard.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

